body{
    font-family: sans-serif;
    background-image: url(../img/fundo.jpg);
    margin: 0;
}

header{
color: yellow;
font-size: 24px;
display: flex;
margin-bottom: 2%;


}

header h1{
    margin-left: 200px;
    margin-top: 70px;
    text-align: center;
}

header img{
    width: 20%;
    height: 200px;
    margin-left:10%;
}

h1{
    align-items: center;
}

.banner img{
    width: 100%;
}

.produtos{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.produtos img{
    width: 25%;
    height: 20%;
}

.produtos p{
    background: white;
    width: 25%;
}

@media (max-width:600px){

    header h1{
        font-size: 30px;
        margin: 0;
    }
    
    header img{
        width: 40%;
        margin-left:10%;
    }
    
    h1{
        font-size: 20px;
    }

}
